<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lesson_23-24</title>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="js/lesson_23-24.js"></script>
	<script src="js/template.js"></script>
</head>
<body>
	<script type="text/template" id="wrapper-template">
	<div class="wrapper">
		<ul class="item-list"></ul>
		<div class="controlls">
			<input type="text" class="item-value">
			<button class="item-add">Add</button>
		</div>
	</div>
	</script>

<script type="text/template" id="list-template">
<% for (var i = 0; i < data.length; i++){ %>
	
	<li><%= data[i] %><span data-value="<%= data[i] %>"class="item-delete">x</span></li>
	<% }; %>
</script>
	
</body>
</html>