@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	font: 13px Arial, 'lucida_sans_unicoderegular', sans-serif;
}

.wrapper{
	width: 910px;
	margin: 0 auto;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*---header---*/

header{
	margin-top: 20px;
}

.navigation li{
	display: inline-block;
	float: left;
}

/*---блок с телефонами---*/
.phones{
	background: url('../img/head-phone.png') no-repeat;
	padding-left: 22px;
	font-size: 18px;
	width: 278px;
	float:left;
	margin: 0 7px;
	letter-spacing: 0.5px;
}

/*---блок входа---*/
.login{
	float:left;
	width: 490px;
	height: 21px;
	background: #0e385d;
	color: #ffffff;
	padding: 2px;
	border-radius: 3px;
	font-size: 10px;
	font-family: 'lucida_sans_unicoderegular';
	box-shadow: 1.5px 2.598px 3px 0 rgb( 150, 150, 150 );
}

.login:before{
	content: url('../img/login.png');
	float: left;
}

.login form{
	float: left;
}

header input[type="text"],
header input[type="password"]{
	position: relative;
    top: 2px;
    width: 110px;
    height: 10px;
    font-size: 10px;
    padding-left: 2px;
    margin-left: 3px;
}

header input[type="submit"]{
    vertical-align: middle;
    background-color: transparent;
    border: 0;
    width: 35px;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -0.39px;
    cursor: pointer;
}

.registr{
	border-left: 1px solid white;
	font-size: 11px;
}

.login a{
	display: inline-block;
	padding: 0px 5px;
	text-decoration: none;
	color: #ffffff;
	font-size: 11px;
}

.pass a{
	color: #778898;
	font-size: 12px;
	padding-left: 10px;
}

.pass a:hover{
		text-decoration: underline;
	}
/*----менюшка в конце---*/
.smenu{
	float:left;
	border:1px solid #d3d8da;
	border-radius: 10px;
	width: 75px;
	height: 20px;
	margin-left: 17px;
}

.smenu a{
	display: inline-block;
	width: 25px;
	height: 20px;
}


.smenu .home a{
	background: url('../img/mini-home.png') no-repeat center center; 
}

.smenu .sitemap a{
	background: url('../img/mini-lan.png') no-repeat center center; 
}

.smenu .cont a{
	background: url('../img/mini-mail.png') no-repeat center center; 

}

.logo{
	margin-top:10px;
}

/*-----основное меню---*/
.menu{
	width: 100%;
	line-height: 34px;
	background: #121415;
	border-radius: 5px;
	color: #b1bcc0;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(168,168,168,1);
-moz-box-shadow: 0px 5px 10px 0px rgba(168,168,168,1);
box-shadow: 0px 5px 10px 0px rgba(168,168,168,1);
}

nav{
	float: right;
	width: 550px;
}
nav a{
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	padding:0 14px; 
	line-height: 25px;
	color: #b1bcc0;
	font-family: 'lucida_sans_unicoderegular';
	font-size: 14px;
}

nav a:hover{
	background: rgba(37,97,123,1);
background: -moz-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,97,123,1)), color-stop(100%, rgba(12,51,87,1)));
background: -webkit-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
background: -o-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
background: -ms-linear-gradient(top, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
background: linear-gradient(to bottom, rgba(37,97,123,1) 0%, rgba(12,51,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25617b', endColorstr='#0c3357', GradientType=0 );
	border-radius: 15px;
}

/*---корзина---*/
.case{
	float: right;
	width: 230px;
	font-size: 11px;
}

.case span{
	color:#0d5a8f;
}

.case img{
	vertical-align: middle;
}

.case:before{
	content: url('../img/case.png');
	margin-top: 13px;
}
/*------форма поиска авто----*/
.tires .line{
	display: inline-block;
	font-size: 8px;
	color: #8d999d;
}

.poisk{
	position: relative;
	height: 145px;
	margin: 10px 0px;
	font-size: 10px;
	font-family: 'lucida_sans_unicoderegular';
}

.poisk span {
	color:#8d999d;
	font-size: 8px;
	display: block;
}

.avto, 
.tires,
.disc{
	position: relative;
	float: left;
	border: 1px solid #000;
	border-radius: 10px;
	margin-left: 5px;
	padding: 0px 5px;
	webkit-box-shadow: 3px 3px 3px 0px rgba(168,168,169,1);
    -moz-box-shadow: 3px 3px 3px 0px rgba(168,168,169,1);
    box-shadow: 3px 3px 3px 0px rgba(168,168,169,1);
	height: 145px;
}
.avto{
	width: 410px;
}

.tires{
	width: 185px;
}

.avto h2{
	position: absolute;
	left: 100px;
}

.diski legend{
	position: absolute;
	left: 20px;
	top: 10px;
}

.shini legend{
	position: absolute;
	right: 20px;
	top: 10px;
}

.diski,
.shini{
	position: relative;
	float: left;
}

.avto dl{
	width: 185px;
	margin: 25px 0px;
}
.avto dl dt{
	float: left;
	width: 70px;
	font: 10px Arial, sans-serif;
	color: #000;
	margin: 3px 5px 0 20px; 
}

.avto dl dt span:first-child{
	position: static;
	font: 8px Arial, sans-serif;
	color: #77858b;
}
.avto dl dt span{
	position: static;
	font: 9px Arial, sans-serif;
	color: #77858b;
}
.avto dl dd{
	margin: 2px 0;
}
.avto select{
	width: 90px;
}


.poisk .button{
	position: absolute;
	bottom: 5px;
    right: 5px;
    background: none;
    border:none;
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
    color: #154467;
    cursor: pointer;
}

.poisk h2{
	text-transform: uppercase;
	font-size: 12px;
}

.poisk h2, legend {
	color: #154468;
	font-weight: bold;
}


.tires dd p{
	font-size: 12px;
	color: black;
}

.tires .check dt, dd{
	vertical-align: top;
}

.tires dt, dd{
	display: inline-block;
}

.tires .size{
	width: 50px;
}

.tires .r{
	width: 45px;
	margin-left: 3px;
}

.tires dl{
	margin-top: 5px;
}

.tires fieldset dl:nth-child(3){
	margin-left: 30px;
}

.tires fieldset dl:nth-child(4) dd{
	margin-left: 10px;
}

.disc{
	width: 260px;
	font-size: 9px;
}
.disc .left{
	float: left;
}
.disc .right{
	float: left;
	border-left: solid 1px #bdc6ca;
	padding-left: 5px;
	margin-left: 5px;
	margin-top: 4px;
}
.disc .left dt, dd{
	display: inline-block;
}
.disc select{
	width: 55px;
}
.disc .first{
	margin-left: 29px;
}
.disc .second{
	width: 50px;
	margin-left: 17px;
}
.disc .third{
	margin-left: 10px;
}
.disc dt, dd{
	vertical-align: middle;
}

/*----поле с товарами----*/

.content a{
	text-decoration: none;
	color: #788489;
}

.content .left{
	float: left;
	width: 190px;
}
.content .middle{
	float: left;
	width: 526px;
	background: rgba(223,231,232,1);
	background: -moz-linear-gradient(top, rgba(223,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223,231,232,1)), color-stop(100%, rgba(147,167,176,1)));
	background: -webkit-linear-gradient(top, rgba(223,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -o-linear-gradient(top, rgba(223,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: -ms-linear-gradient(top, rgba(223,231,232,1) 0%, rgba(147,167,176,1) 100%);
	background: linear-gradient(to bottom, rgba(223,231,232,1) 0%, rgba(147,167,176,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe7e8', endColorstr='#93a7b0', GradientType=0 );
	border:1px;
	border-radius: 2px;
	text-align: center;
	padding-bottom: 20px;
}

.content .right{
	float: left;
	width: 180px;
	padding-left: 10px;
}

/*---отображение товаров---*/
section {
	float:left;
	width: 150px;
	text-align: center;
	margin: 10px 5px 10px 15px;
}

figure{
	display: inline-block;
	width: 135px;
	height: 125px;
	background: #ffffff;
	border:1px solid black;
	border-radius: 5px;
}

.brand {
	color:#206988;
	font-size: 15px;
	font-weight: bold;
}
.name {
	color:#37748f;
	font-size: 13px;
}

figcaption {
	color:#114165;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

/*---декорирование заголовков---*/
.content h2,
.titleitem>a
 {
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	text-transform: uppercase;
	padding-left: 28px;
	line-height: 25px;
}

.content h2{
	background: url('../img/list1.png') no-repeat;
	background-position: 2px center ;
	width: 150px;
	margin-bottom: 14px;
}

.titleitem>a {
	background: url('../img/list2.png') no-repeat;
	background-position: 2px center;
	width: 120px;
	display: block;

}

.right .titleitem a {
	margin-left: 15px;
}

.content ul ul a{
	display: inline-block;
	background: url('../img/list.png') no-repeat;
	background-position: 2px center;
	margin-left: 33px;
	padding-left: 12px;
	font-size: 13px;
	line-height: 25px;
}

.right label{
	color: #788489;
	line-height: 30px;
	padding-left: 20px;
}

.content li li a:hover{
	font-weight:bold;
	font-style: italic; 
	text-decoration: underline;
}

/*---кнопка правого меню---*/
.right .button {
	width: 80px;
	background: #1e6383;
	text-transform: uppercase;
	color:#ffffff;
	line-height: 20px;
	border-radius: 20px;
	margin-left: 20px;
	font-size: 11px;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(190,192,193,1);
	-moz-box-shadow: 2px 2px 4px 0px rgba(190,192,193,1);
	box-shadow: 2px 2px 4px 0px rgba(190,192,193,1);
	cursor:pointer;
}

.brands{
	width: 700px;
	margin: 0 auto;
	padding-top: 30px;
}

.brands li{
	display: inline-block;
}
/*----Футер----*/
footer{
	background: #213a4d;
	text-align: center;
	color: #bec6c9;
	margin-top: 24px;
}
footer a{
	display: inline-block;
	margin:10px 0px;
	padding: 0 10px;
	text-decoration: none;
	color: #bec6c9;
	border-right: 1px solid #bec6c9;
}

footer a:nth-child(4){
	border-right: 0px;
}

footer p{
	color: #7f4740;
	font-size: 10px;
	padding-bottom: 40px;
}

footer a:hover{
	color: #4792af;
}
