
body{
	background: url("../img/bg.jpg") repeat-x;
	background-color: #0c739f;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
}

.wrapper {
	width: 1000px;
	background: white;
	margin: 0px auto;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/*---Хэдер---*/
.logo {
	float:left;
	width: 350px;
}

.contacts{
	float:right;
	color: #128aa7;
	font-size: 12px;
	width: 150px;
	margin-top: 10px;
}

.contacts p {
	line-height: 18px;
}

.contacts:first-line {
	font-weight: bold;
}

/*----меню со странами---*/

.contries{
	float:right;
	list-style: none; 
	clear:right;
	margin-top: 25px;
}

.contries li{
    float: left; 
    margin:5px;
}

.contries li:last-child{
    margin-right: 30px; 
}

.contries li a {
    display: block;
    text-align: center;
    padding-top: 50px;
    color: #128aa7;
    font-size: 9px;
    background-position: center top;
    width: 50px; 
}

.contries .india a {
    background: url("../img/india.png") no-repeat;
}
.contries .nepal a {
    background: url("../img/nepal.png") no-repeat;
}
.contries .sri_lanka a {
    background: url("../img/sri-lanla.png") no-repeat;
}
.contries .maldives a {
    background: url("../img/maldives.png") no-repeat;
}
.contries .tibet a {
    background: url("../img/tibet.png") no-repeat;
}
.contries .butan a {
    background: url("../img/butan.png") no-repeat;
}

/*-------главное меню-----*/
.travel{
	border-top: 1px solid #138aa7;
	border-bottom: 1px solid #138aa7;
}

.menu{
	background:#333;
	list-style:none;
	font-size: 14px;
}
.menu li{
	display:inline-block;
	position:relative;
}

.menu {
	border-bottom: 1px solid black;
}

.menu li a{
	background:#333;
	display:block;
	color:#fff;
	text-decoration:none;
	line-height: 30px;
	padding-right: 25px;
	padding-left:30px;
}

.menu ul{
	list-style:none;
	position:absolute;
	top:31px;
	left:-9999px; 
	opacity:0;
}

.menu ul a{
	white-space:nowrap; 
}

.menu li:hover ul{ 
	left:0; 
	opacity:1; 
}

.menu li:hover ul li a:hover{ 
	text-decoration:underline;
}

/*--------три колонки меню----*/	
h2{
	text-align: center;
	font-size: 18px;
	line-height: 30px;
}

.fon {
background: url("../img/column.jpg") repeat-y; 
line-height: 20px;
}

.left {
width: 190px;
float: left;
}

.middle {
width: 560px;
float: left;
}

.right {
width: 190px;
float: right;
}

.left, .middle, .right {
	padding: 0 10px;
}

.title{
font-size: 18px;
line-height: 35px;
}

/*------футер-----*/
.footer{
	text-align: center;
	color: white;
	line-height: 30px;
	font-size: 12px;
}
