input[type = checkbox] {
    margin-right: 10px;
}

form a {
    width: 140px;
}

.mymodal {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.mymodal-inner {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background-color: white;
    border: 2px solid grey;
}

.mymodal-inner a {
    width: 12%;
    position: absolute;
    left: 44%;
    bottom: 15px;
}