*{margin:0;
padding: 0;}
body{background: #eeeeee;font-size:17px;}
.wrapper{margin:0 auto; padding:35px 50px; width:412px;background: #ffffff; border:1px solid #d5d5d5;box-shadow: 0px 0px 1px 0px #adaaad;}
.header{text-align: center;}
p{margin: 15px;} 
ul{margin: 15px;}
div{border-bottom: 1px solid black;}

